<section class="about-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>About GlamCart</h2>
        <p>
          Welcome to GlamCart, your ultimate destination for all things fashion
          and beauty. At GlamCart, we believe that style is a way to express
          your unique personality and confidence. Our mission is to provide you
          with an unparalleled shopping experience by offering a curated
          selection of the latest trends in clothing, accessories, and beauty
          products.
        </p>
        <p>
          We are committed to quality, affordability, and exceptional customer
          service. Whether you are looking for the perfect outfit for a special
          occasion or everyday essentials to elevate your wardrobe, GlamCart has
          you covered. Join our community of fashion enthusiasts and discover
          the joy of shopping with us. Your style journey starts here!
        </p>
      </div>
      <div class="col-lg-6">
        <img
          src="../../assets/assets/logo.png"
          alt="About Urban Walks"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
